[Unit]
Description=Watch dog timer pour le Collecteur de données de Erabliere
After=network-online.target
Wants=ErabliCollecteur.service

[Service]
Type=simple

User=erabliere
Group=erabliere
WorkingDirectory=/home/erabliere/ErabliWatchDog
PIDFile=/home/erabliere/ErabliWatchDog/pid/app.pid
ExecStart=/home/erabliere/.nvm/versions/node/v14.15.4/bin/node /home/erabliere/ErabliWatchDog/app.js
Restart=on-abnormal
TimeoutSec=60

[Install]
WantedBy=multi-user.target
